{% extends 'base.html.twig' %}

{% block title %}{{ sock.name }} - NiceSocks.com{% endblock %}

{% block body %}

<main>
    <section class="section-show">

    <h2 class ="title-title" >• {{ sock.name }} •</h2>
    
    <div class="container-tags">
        {% for category in sock.category %}
            <span class="category-tag">{{ category.name }}</span>
        {% endfor %}
    </div>

    <div class="container-show">
        <img class="img-show" src="{{ sock.picture }}" alt="{{ sock.name }}">
        <div class="test">
            <h3>{{ sock.name }}</h3>
            <p>Brand : {{ sock.brand.name }}</p>
        </div>
        
        <p>{{ sock.price }} €</p>
        
        <a href="{{ path('socks_show', {id: sock.id}) }}">
            <i class="bi bi-arrow-right-square"></i>
        </a>
    </div>

    </section>
</main>


{% endblock %}